<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edição de projeto</div>
                <div class="panel-body">

                    <form class="form-horizontal"name="formProjectNote" role="form" method="POST" ng-submit="save()">

                        <div class="form-group" ng-class="{'has-error': !formProjectNote.title.$valid && formProjectNote.title.$touched}">
                            <label class="col-md-4 control-label">Title</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="title" ng-model="projectNote.title" required />
                                <div ng-messages="formProjectNote.title.$error" class="help-block" ng-show="formProjectNote.title.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !formProjectNote.content.$valid && formProjectNote.content.$touched}">
                            <label class="col-md-4 control-label">Obs</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="obs" ng-model="projectNote.content"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Alterar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>