<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edição de projeto</div>
                <div class="panel-body">

                    <form class="form-horizontal"name="formProject" role="form" method="POST" ng-submit="save()">

                        <div class="form-group" ng-class="{'has-error': !formProject.clienteId.$valid && formProject.clienteId.$touched}">
                            <label class="col-md-4 control-label">Client</label>
                            <div class="col-md-6">
                                <select ng-model="project.clienteId" class="form-control" name="clienteId" ng-options="item.name for item in clients track by item.id" required></select>
                                <div ng-messages="formProject.clienteId.$error" class="help-block" ng-show="formProject.clienteId.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !formProject.name.$valid && formProject.name.$touched}">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="project.name" required />
                                <div ng-messages="formProject.name.$error" class="help-block" ng-show="formProject.name.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !formProject.description.$valid && formProject.description.$touched}">
                            <label class="col-md-4 control-label">Description</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="description" ng-model="project.description"></textarea>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !formProject.progress.$valid && formProject.progress.$touched}">
                            <label class="col-md-4 control-label">Progress</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="progress" ng-model="project.progress" required/>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%;">
                                        {{ project.progress }}%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !formProject.status.$valid && formProject.status.$touched}">
                            <label class="col-md-4 control-label">Status</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="status" ng-model="project.status" required/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Alterar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>